<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
            tailwind.config = {
                theme: {
                    extend: {
                        colors: {
                            primary: '#5CB95C',
                            'primary-hover': '#68be68',
                        }
                    }
                }
            }
        </script>
    <title>Connection</title>
</head>
<body>
    <header class="bg-white">
        <nav class="mx-auto flex max-w-7xl items-center justify-between p-2 lg:px-8" aria-label="Global">
            <div class="flex lg:flex-1">
                <a href="#" class="-m-1.5 p-1.5">
                    <img class="h-16 w-auto" th:src="@{/images/logo-paymybuddy.svg}" alt="Pay My Buddy">
                </a>
            </div>
            <div class="flex gap-x-6">
                <a href="#" class="text-xl font-semibold leading-6 text-gray-900 hover:text-gray-500">Home</a>
                <a href="transfer" class="text-xl font-semibold leading-6 text-gray-900 hover:text-gray-500">Transfer</a>
                <a href="#" class="text-xl font-semibold leading-6 text-blue-500">Profile</a>
                <a href="contact" class="text-xl font-semibold leading-6 text-gray-900 hover:text-gray-500">Contact</a>
                <a th:href="@{/logout}" class="text-xl font-semibold leading-6 text-gray-900 hover:text-gray-500">Log off</a>
            </div>
        </nav>
    </header>
    <section class="bg-gray-50 text-gray-400 text-xl p-4">
        <div class="mx-auto flex max-w-7xl">
            <span class="text-blue-500 ">Home / </span> Profile
        </div>
    </section>
    <main class="sm:mx-auto sm:w-3/5 flex flex gap-6">
        <section class="flex min-h-full min-w-[35%] flex-col mt-14">
            <div class="text-xl sm:mx-auto sm:w-full sm:max-w-xl rounded-md border-gray-200 border-2 p-10 text-center">
                <img class="h-120 w-auto m-auto" th:src="@{/images/profile-icon.png}">
                <h2 class="text-5xl font-medium" th:text="@{${account.lastName} + ' ' + ${account.firstName}}"></h2>
                <p th:text="@{${account.email}}"></p>
                <p class="font-medium m-3">Account number:</p>
                <p th:text="@{${account.currentBank.iban}}"></p>
                <p th:text="@{${account.currentBank.swift}}"></p>
                <p class="font-medium m-3">Current balance:</p>
                <p th:text="@{${account.balance}}"></p>
            </div>
        </section>

        <div>

        <section class="mt-6 mb-6">
            <h2 class="text-2xl font-semibold">Send Money to your bank</h2>
                <form
                     class="flex flex-wrap gap-6 bg-gray-100 px-20 py-14"
                     th:action="@{/home/profile}"
                     method="post"
                     th:object="${transaction}">

                     <div>
                        <label for="iban" class="visibility: hidden">Select a connection</label>
                        <select
                            id="iban"
                            name="iban"
                            th:field="*{iban}"
                            class="bg-gray-50 border-2 border-gray-700 text-gray-900 text-xl block p-2.5"
                            required>
                            <option th:each="b : ${account.bankList}" th:value="${b.iban}"
                                th:text="@{${b.iban}}"></option>
                        </select>
                     </div>
                     <div>
                        <label for="description" class="visibility: hidden">Description</label>
                        <input
                             placeholder="Description"
                             type="text"
                             id="description"
                             name="description"
                             th:field="*{description}"
                             class="bg-gray-50 border-2 border-gray-700 text-gray-900 text-xl block p-2.5"
                             required>
                     </div>
                     <div>
                        <label for="amount" class="visibility: hidden">Money</label>
                            <input
                                    type="number"
                                    min="0"
                                    id="amount"
                                    name="amount"
                                    th:field="*{amount}"
                                    class="bg-gray-50 border-2 border-gray-700 text-gray-900 text-xl block p-2.5"
                                    placeholder="0€"
                                    required>
                     </div>
                     <button type="submit" name="action" value="pay" class="rounded-md bg-primary px-20 py-3 text-xl font-semibold leading-6 text-white shadow-sm hover:bg-primary-hover">Pay</button>
                </form>
            </section>

            <div th:if="${param.sent}" class="flex bg-green-100 rounded-lg p-4 mb-4 text-lg text-green-700" role="alert">
                <svg class="w-7 h-7 inline mr-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
                <div>
                    Money sent!
                </div>
            </div>

        <section class="mt-6 mb-6">
            <h2 class="text-2xl font-semibold">Add a new bank</h2>

            <form
                class="flex flex-wrap gap-6 bg-gray-100 px-20 py-14"
                th:action="@{/home/profile}"
                    method="post">
                <div>
                    <label for="bankIban" class="visibility: hidden">Bank Iban</label>
                    <input
                        placeholder="Iban"
                        type="text"
                        id="bankIban"
                        name="bankIban"
                        class="bg-gray-50 border-2 border-gray-700 text-gray-900 text-xl focus:ring-blue-500 focus:border-blue-500 block p-2.5"
                        required>
                </div>
                <div>
                    <label for="bankSwift" class="visibility: hidden">Bank Swift</label>
                    <input
                        placeholder="Swift"
                        type="text"
                        id="bankSwift"
                        name="bankSwift"
                        class="bg-gray-50 border-2 border-gray-700 text-gray-900 text-xl block p-2.5"
                        required>
                </div>
                <button type="submit" name="action" value="add" class="rounded-md bg-primary px-20 py-3 text-xl font-semibold leading-6 text-white shadow-sm hover:bg-primary-hover">Add</button>
            </form>
        </section>
            <div th:if="${param.added}" class="flex bg-green-100 rounded-lg p-4 mb-4 text-lg text-green-700" role="alert">
                <svg class="w-7 h-7 inline mr-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
                <div>
                    Bank added!
                </div>
            </div>
        </div>
    </main>
</body>
</html>